:root {
    --cprimary: #323232;
    --csecondary: #4fb9bb;
    --ctertiary:#e8eaf0;
    --ctertiary-op: rgba(232, 234, 240, 0.64);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    padding: 0px;
    margin: 0px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 80px 0px 0px 257px;
    min-width: 700px;
    font-family: 'Open Sans',Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.valign-wrapper {
    display: inline-flex;
    align-items: center;
}

.center {
    text-align: center;
}

.gli-hsep {
    width: 97%;
    height: 1px;
    margin: 0px auto;
    background-color: var(--ctertiary);
}

.gli-normal-header {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-bottom: 0px;

}

.gli-normal-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--cprimary);
    margin: 0;
}

.gli-check {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6FCF97;
    color: white;
    border-radius: 50%;
    margin: 24px 0 4px 0;
}

 /* SIDENAV ********************************************/
.gli-sidenav {
    position: fixed;
    left:  0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 257px;
    height: 100%;
    background-color: white;
    border-right-style: solid;
    border-width: 1px;
    border-right-color:  var(--ctertiary);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.gli-logo {
    height: 80px;
    margin-bottom: 21px;
}

.gli-logo img{
    margin: 0 auto;
}

.gli-tabs {
    flex-direction: column;
    width: 100%;
    font-size: 14px;
    flex: 1 1 auto;
}

.gli-tab-item {
    display: flex;
    align-items: center;
    padding-left: 50px;
    height: 49px;
    width: 100%;
    font-weight: 500;
    color: var(--cprimary);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--ctertiary);
    text-decoration: none;
}

.gli-tab-item.gli-active{ 
    background-color: var(--ctertiary-op);
}

.gli-tab-item:hover { 
    background-color: var(--ctertiary-op);
}

.gli-tab-item img{
    position: relative;
    left: -13px;
    top: -2px;
}

.gli-footer {
    color: var(--cprimary);
    font-size: 14px;
    margin-bottom: 24px;
}

.gli-help {
    width: 224px;
    background-color: var(--ctertiary-op);
    border-radius: 4px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
}


.gli-help h5{
    font-size: 14px;
    color: var(--cprimary);    
}

.gli-help a{
    font-size: 12px;
    text-decoration: underline;
    color: var(--cprimary);
}


/* NAV ********************************************/
.gli-nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 80px;
    padding: 0px 64px 0px 257px;
    min-width: 700px;
    width: 100%;
    background-color: var(--csecondary);
    z-index: 1;
    color: white;
}

.gli-nav a {
    color: white;
}

.gli-user {
    display: flex;
    justify-content: end;
}

.gli-user div {
    margin: 0 0 0 8px;
}

.gli-user .gli-username h6{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin: 0 13px 0 8px;
}

.gli-circle-img {
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}

.gli-circle-img img{
    margin: auto;
    background-color: white;
}

.gli-navsep {
    width: 1px;
    height: 80%;
    margin: 0 24px;
    background-color: var(--ctertiary-op);
}


/* TAB CONTAINER *************************/
.gli-tab-container {
    display: block;
    padding: 24px 32px;
}

.gli-header h1 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.05em;
    color: var(--cprimary);
    margin: 0 0 24px 0;
}

.gli-breadcrumbs {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: left;

}

.gli-breadcrumbs  .gli-breadcrumb {
    color: var(--cprimary);
    opacity: 0.64;
    text-decoration: none;
}

.gli-breadcrumbs .gli-breadcrumb-active {
    color: var(--csecondary);
    opacity: 1.0;
}

.gli-controls {
    height: 42px;
    min-width: 750px;
    width: 100%;
    margin: 24px 0 16px 0;
    display: flex;
    justify-content: space-between;

    position: relative;
}


.gli-searchbar {
   display: inline-flex;
}

.gli-controls > div:last-child {
    display: inline-flex;
 }

 .gli-searchbar > div:first-child{
    display: inline-flex;
}

.gli-searchbar > div:first-child > i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(50, 50, 50, 0.24);
}
 .gli-searchbar > div:first-child > input {
    height: 100%;
    width: 309px;
    border-width: 0px;
    border-radius: 32px;
    background-color: rgba(232, 234, 240, 0.24);
    margin-right: 12px;
    padding-left: 40px;
}

.gli-filters-button {
    position: relative;
}

.gli-filters {
    display: none;
    position: absolute;
    left: 16px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 356px;
    padding: 0px 16px;
    z-index: 2;
}

.gli-filters header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.05px;
    margin: 20px 0px 0px 0px;


}

.gli-filters .buttons {
    margin: 24px 0px 20px 0px;
}


.gli-button {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    height: 100%;
    padding: 12px 16px;
    margin: 0 12px;
    text-decoration: none;
    text-overflow: ellipsis;
    border-width: 0;
    cursor: pointer;
}

.gli-button.gli-button-secondary {
    color: white;
    background: var(--csecondary);
}

.gli-button.gli-button-tertiary {
    color: var(--cprimary);
    background: var(--ctertiary);
}

.gli-button.gli-button-white {
    font-size: 13px;
    color: var(--cprimary);
    background: white;
    border-style: solid;
    border-width: 1px;
    border-color: var(--csecondary);
    border-radius: 4px;
}


.gli-controls .gli-button:last-child {
    margin: 0 0px;
}

/* TABLE **********************************/
.gli-mlist {
    min-width: 1000px;
    display: block;
    margin-bottom: 21px;
}

.gli-mlist-row {
    width: 100%;
    height: 72px;
    display: flex;
    border-bottom-style: solid;
    border-bottom-color: var(--ctertiary);
    border-bottom-width: 1px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: left;

}

.gli-mlist-item-active {
    background-color: var(--ctertiary-op);
}

.gli-mlist-item:hover {
    background-color: var(--ctertiary-op);
}

.gli-mlist-row.gli-mlist-header {
    height: 56px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 22px;
}

.gli-mlist-column {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.gli-select-column {
    width: 60px;
    justify-content: center;
}

.gli-manager-column {
    min-width: 300px;
    flex: 1 1 auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;

}

.gli-manager-column-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}

.gli-manager-column-img > img {
    height: 80px;
}

.gli-area-column {
    min-width: 165px;
}

.gli-email-column {
    min-width: 260px;
}

.gli-status-column {
    min-width: 178px;
}

.gli-mlist-item .gli-status-column {
    min-width: 178px;
    text-transform: uppercase;
    font-family: Mulish;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.83px;
}

.gli-status-column-active > span{
    color: #4CAF50;
    background-color: #E8F5E9;
    padding: 4px;
}

.gli-status-column-inactive > span{
    color: #EB5757;
    background-color: #FFE1E0;
    padding: 4px;
}

.gli-details-column {
    width: 118px;
    padding: 0px 17px;
    justify-content: space-between;
}



/* INPUTS ********************************/

.gli-input {
    display: inline-block;
    width: 100%;
    margin: 0px 0px 20px 0px;
}

.gli-input > fieldset > legend{
    font-size: 12px;
    margin: 0px -8px;
    padding: 0px 4px;
}

.gli-form-error {
    color: red;
}

/* SELECT */
.gli-input-select > fieldset {
    height: 56px;
    width: 100%;
    border: 1px solid rgb(50, 50, 50, 0.24);
    border-radius: 8px;
    padding: 0px 16px;
}

.gli-input-select > fieldset > select {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-width: 0;
    padding: 5px 0px;
}

.gli-input-select > fieldset > select:focus {
    outline: none;
}

/* TEXT */
.gli-input-text > fieldset {
    height: 56px;
    width: 100%;
    border: 1px solid rgb(50, 50, 50, 0.24);
    border-radius: 8px;
    padding: 0px 16px;
}

.gli-input-text > fieldset > input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-width: 0;
    padding: 5px 0px;
}

.gli-input-text > fieldset > input:focus {
    outline: none;
}


/* DROPABLE */
.gli-img-dropable {
    width: 196px;
    height: 202px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--ctertiary);
    overflow: hidden;
    margin-bottom: 30px;
}

.gli-img-dropable-preview {
    width: 100%;
    height: 107px;
    text-align: center;
    overflow: hidden;
}

.gli-img-dropable-preview > img{
    max-width: 100%;
}

.gli-img-dropable-no-preview {
    padding: 28px 0;
    background-color: rgba(232, 234, 240, 0.12);
}

.gli-img-dropable-input {
    height: 95px;
    text-align: center;
    padding: 12px 0;
    color: var(--cprimary);
    background-color: white;
}

.gli-img-dropable-button-select > input {
    display: none;
}

.gli-img-dropable-button-select > .gli-button {
    margin-top: 8px;
}

/* DETAILS ****************************/
.gli-details-display {
    width: 52px;
    height: 52px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 4px;
}

.gli-details-display > img {
    height: 100px;
}

.gli-details-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    margin-bottom: 24px;

}

.gli-details-data-row {
    display: flex;
    margin-bottom: 16px;
}

.gli-details-data {
    width: 256px;
    margin-right: 24px;
    color: var(--cprimary);
}

.gli-details-data-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.83px;
    text-transform: uppercase;
    opacity: 0.84;
}

.gli-details-data-value {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
}

/* MODAL *****************************************/
.gli-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(50,50,50,0.8);
    display: none;   
}

.gli-modal-content {
    position: relative;
    width: 400px;
    min-height: 200px;
    background-color: white;
    margin: 10% auto;
    padding: 20px 16px 24px 16px;
    border-radius: 4px;
}

.gli-modal-title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.05em;
    color: var(--csecondary);
    margin-bottom: 8px;
}

.gli-modal-delete-confirm {
    display: flex;
    margin-bottom: 64px;
    color: var(--cprimary);
}

.gli-modal-delete-confirm-img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 8px;
}

.gli-modal-delete-confirm-img > img{
    height: 80px;
}

.gli-modal-delete-confirm-name {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.gli-modal-delete-confirm-email {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.gli-modal-close-cross {
    position: absolute;
    top: -40px;
    right: 0px;
    font-size: 35px;
    color: white;
    text-decoration: none;
}
.gli-modal-delete-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PAGINATOR ******************/
.gli-paginator {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.3px;
    color: var(--cprimary);

}

.gli-paginator > * {
    display: inline-block;
    margin-left: 30px;
    color: var(--cprimary);
}


.gli-paginator > select {
    background-color: transparent;
    border-width: 0px;
}

.gli-paginator > a {
    color: var(--cprimary);
}
