<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,500;1,700;1,900&family=Mulish:wght@700&display=swap" rel="stylesheet"> 

    <link type="text/css" rel="stylesheet" href="{% static 'glimanagers/glistyles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="gli-sidenav">
        <div class="gli-logo valign-wrapper">
            <img src="{% static 'glimanagers/img/GLI_LogoColor.png' %}" alt="">
        </div>
        <div class="gli-tabs">
            <a class="gli-tab-item gli-active" href="{% url 'glimanagers:list' %}"><img src="{% static 'glimanagers/img/Vector.png' %}"> Administradores</a>
            <a class="gli-tab-item" href="#"><img src="{% static 'glimanagers/img/Vector-1.png' %}"> Catálogos</a>
            <a class="gli-tab-item" href="#"><img src="{% static 'glimanagers/img/Vector-2.png' %}"> Líderes</a>
            <a class="gli-tab-item" href="#"><img src="{% static 'glimanagers/img/Vector-3.png' %}"> Usuarios</a>
            <a class="gli-tab-item" href="#"><img src="{% static 'glimanagers/img/Vector-4.png' %}"> Mi empresa</a>
            <a class="gli-tab-item" href="#"><img src="{% static 'glimanagers/img/Vector-5.png' %}"> Cursos</a>
            <a class="gli-tab-item" href="#"><img src="{% static 'glimanagers/img/Vector-6.png' %}"> Recompensas</a>
            <a class="gli-tab-item" href="#"><img src="{% static 'glimanagers/img/Vector-7.png' %}"> Eventos</a>
            <a class="gli-tab-item" href="#"><img src="{% static 'glimanagers/img/Vector-8.png' %}"> Notificaciones</a>
            <a class="gli-tab-item" href="#"><img src="{% static 'glimanagers/img/Vector-9.png' %}"> Reportes</a>
        </div>
        <div class="gli-footer">
            <div class="valign-wrapper gli-help">
                <div>
                    <span>¿Necesitas ayuda?</span><br>
                    <a href="#">Ir a sección ayuda</a>
                </div>
                <div>
                    <a href="#"><img src="{% static 'glimanagers/img/external-link.png' %}" alt=""></a>
                </div>
            </div>
            <div class="gli-hsep" style="margin-top: 16px; margin-bottom: 16px;"></div>
            <div class="center">
                © Copyright GLI 2021
            </div>
        </div>
    </div>
    <div class="gli-nav valign-wrapper">
        <div>
            <a href="#" class="white-text"><i class="material-icons">search</i></a>
        </div>
        <div class="gli-navsep"></div>
        <div class="valign-wrapper gli-user" style="height: 100%;">
            <div class="valign-wrapper gli-circle-img">
                <img src="{% static 'glimanagers/img/Procter-Gamble-SWOT1.png' %}">
            </div>
            <div class="gli-username">
                <h6>Adrian Stefan<br>Recursos Humanos</h6>
            </div>
            <div>
                <a href="#" class="white-text"><i class="material-icons">logout</i></a>
            </div>
        </div>
    </div>
            
    <div class="gli-tab-container">
        {% block tabcontent %}{% endblock tabcontent %}
    </div>

    
    {% block modal %}{% endblock modal %}
        
    {% block scripts %}{% endblock scripts %}        
</body>
</html>
