{% extends 'glimanagers/base.html' %}
{% load static %}
{% block tabcontent %}

<header class="gli-header">
    <div class="gli-breadcrumbs valign-wrapper">
        <a href="#" class="gli-breadcrumb">Inicio</a> <i class="gli-breadcrumb-active material-icons">keyboard_arrow_right</i> <span class="gli-breadcrumb-active">Administradores</span>
    </div>
    <h1 class="head">Agregar administrador</h1>
</header>
<p class="gli-normal-text" style="margin: 24px 0 16px 0;">Sube tu fotografía con un peso menor a 2MB</p>
<div class="add-form">
    <form id="addform" method="POST" enctype="multipart/form-data" style="width: 360px; margin-bottom: 40px;">
        {% csrf_token %}
        <div class="gli-img-dropable">
            <div class="gli-img-dropable-preview gli-img-dropable-no-preview">
                <img src="{% static 'glimanagers/img/nodisplay.png' %}" alt="">
            </div>
            <div class="gli-img-dropable-input">
                <small>Arrastra tu archivo o</small>
                <div class="gli-img-dropable-button-select">
                    {{ form.display }}
                    <label for="{{form.display.id_for_label}}" class="gli-button gli-button-white">Selecciona</label>
                </div>
            </div>
        </div>
        <div class="gli-input gli-input-text">
            <fieldset>
                <legend>Nombre (s) </legend>
                {{ form.first_name }}
            </fieldset>
            <small class="gli-form-error">{{ form.first_name.errors }}</small>
        </div>
        <div class="gli-input gli-input-text">
            <fieldset>
                <legend>Apeliidos </legend>
                {{ form.last_name }}
            </fieldset>
            <small class="gli-form-error">{{ form.last_name.errors }}</small>
        </div>
        <div class="gli-input gli-input-text">
            <fieldset>
                <legend>Correo electrónico </legend>
                {{ form.email }}
            </fieldset>
            <small class="gli-form-error">{{ form.email.errors }}</small>
        </div>
        <div class="gli-input gli-input-select">
            <fieldset>
                <legend>Área</legend>
                {{ form.area }}
            </fieldset>
        </div>
        <div class="gli-input gli-input-select">
            <fieldset>
                <legend>Estatus</legend>
                {{ form.status }}
            </fieldset>
        </div>
    </form>
</div>

<div class="gli-hsep" style="margin-bottom: 16px;"></div>
<div>
    <a class="gli-button gli-button-white" href="{% url 'glimanagers:list' %}">Cancelar</a>
    <button id="addbutton" class="gli-button gli-button-secondary">Agregar administrador</button>
</div>
{% endblock tabcontent %}
{% block scripts %}
<script src="{% static 'glimanagers/glimanagerform.js' %}"></script>
{% endblock scripts %}
    