{% extends 'glimanagers/base.html' %}
{% load static %}
{% load custom_tags %}
{% block tabcontent %}

<header class="gli-header">
    <div class="gli-breadcrumbs valign-wrapper">
        <a href="#" class="gli-breadcrumb">Inicio</a> <i class="gli-breadcrumb-active material-icons">keyboard_arrow_right</i> <span class="gli-breadcrumb-active">Administradores</span>
    </div>
    <h1 class="head">Perfil de administrador</h1>
</header>



{% if manager.display %}
<div class="gli-details-display">
    <img src="{% get_media_prefix %}{{ manager.display }}">
</div>
{% endif %}
    
<h1 class="gli-details-name">{{ manager.first_name }} {{ manager.last_name }}</h2>

<div class="gli-details-data-row">
    <div class="gli-details-data">
        <h5 class="gli-details-data-title">Nombre (s)</h5>
        <h3 class="gli-details-data-value">{{ manager.first_name }}</h3>
    </div>
    <div class="gli-details-data">
        <h5 class="gli-details-data-title">Apellidos</h5>
        <h3 class="gli-details-data-value">{{ manager.last_name }}</h3>
    </div>
    <div class="gli-details-data">
        <h5 class="gli-details-data-title">Correo electrónico</h5>
        <h3 class="gli-details-data-value">{{ manager.email|safe_email }}</h3>
    </div>
</div>
<div class="gli-details-data-row">
    <div class="gli-details-data">
        <h5 class="gli-details-data-title">Área</h5>
        <h3 class="gli-details-data-value">{{ manager.get_area_display }}</h3>
    </div>
    <div class="gli-details-data">
        <h5 class="gli-details-data-title">Estatus</h5>
        <h3 class="gli-details-data-value">{{ manager.get_status_display }}</h3>
    </div>
</div>

<div class="gli-hsep" style="margin-top: 40px; margin-bottom: 16px; width: 100%;"></div>

<a class="gli-button gli-button-secondary" style="margin-left:0;" href="{% url 'glimanagers:update' manager.pk %}">Editar administrador</a>

{% endblock tabcontent %}
