{% extends 'glimanagers/base.html' %}
{% load static %}
{% load custom_tags %}
{% block tabcontent %}

<header class="gli-header">
    <div class="gli-breadcrumbs valign-wrapper">
        <a href="#" class="gli-breadcrumb">Inicio</a> <i class="gli-breadcrumb-active material-icons">keyboard_arrow_right</i> <span class="gli-breadcrumb-active">Administradores</span>
    </div>
    <h1 class="head">Administrador de la consola</h1>
</header>

<div class="gli-controls">
    <div class="gli-searchbar">
        <div>
            <i class="material-icons">search</i>
            <input type="text" id="search_by_manager" placeholder="Buscar" value="{{ search_filter }}">
            <button id='searchbutton' class="gli-button gli-button-tertiary">BUSCAR</button>
        </div>
        <div class="gli-filters-button">
            <button class="gli-button gli-button-secondary filters_button" style="padding: 10px;"><img style="margin: 0; padding: 0;" width="24" height="22" src="{% static 'glimanagers/img/filtericon.png' %}" alt=""></button>
            <div id="filters_form" class="gli-filters">
                <header>
                    <h3>Filtros de búsqueda</h3>
                    <div><i class="material-icons filters_button" style="cursor: pointer;">close</i></div>
                </header>
                <div class="gli-hsep" style="margin-bottom: 20px;"></div>
                <div class="gli-input gli-input-select">
                    <fieldset>
                        <legend>Área</legend>
                        <select id="areaselect">
                            <option  {% if area_filter == "" %}selected{% endif %} value="">Seleccionar</option>
                            {% for a in areaopt %}
                            <option {% if area_filter == a.0 %}selected{% endif %} value="{{ a.0 }}">{{ a.1 }}</option>
                            {% endfor %}
                                
                        </select>
                    </fieldset>
                </div>
                <div class="gli-input gli-input-select">
                    <fieldset>
                        <legend>Estatus</legend>
                        <select id="statusselect">
                            <option {% if status_filter == "" %}selected{% endif %} value="">Seleccionar</option>
                            {% for s in statusopt %}
                            <option {% if status_filter == s.0 %}selected{% endif %} value="{{ s.0 }}">{{ s.1 }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                </div>
                <div class="gli-hsep" style="margin-bottom: 20px;"></div>
                <div class="buttons">
                    <a class="gli-button gli-button-white" style="background-color: #F5F5F5; border-width: 0;" href="{% url 'glimanagers:list' %}?rows={{ nrows }}">Limpiar</a>
                    <button id="applyfilters" class="gli-button gli-button-secondary">Aplicar filtros</button>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <button class="gli-button gli-button-white">Descargar</button>
        <a class="gli-button gli-button-secondary" href="{% url 'glimanagers:add' %}">Agregar nuevo admin</a>
    </div>
</div>


<div class="gli-mlist">
    <div class="gli-mlist-row gli-mlist-header">
        <div class="gli-mlist-column gli-select-column"><input type="checkbox" id="mlist_select_all"></div>
        <div class="gli-mlist-column gli-manager-column">Administradores</div>
        <div class="gli-mlist-column gli-area-column">Área</div>
        <div class="gli-mlist-column gli-email-column">Correo electrónico</div>
        <div class="gli-mlist-column gli-status-column">Estatus</div>
        <div class="gli-mlist-column gli-details-column">Detalles</div>
    </div>
    
    {% for manager in page_managers %}
    <div class="gli-mlist-row gli-mlist-item" id='manager_{{manager.pk}}'>
        <div class="gli-mlist-column gli-select-column"><input class="gli-select-checkbox" data-target='manager_{{manager.pk}}' type="checkbox"></div>
        <div class="gli-mlist-column gli-manager-column">
            {% if manager.display %}
            <div class="gli-manager-column-img">
                <img src="{% get_media_prefix %}{{ manager.display }}">
            </div>
            {% endif %}
            {{ manager.first_name }} {{ manager.last_name }}
        </div>
        <div class="gli-mlist-column gli-area-column">{{ manager.get_area_display }}</div>
        <div class="gli-mlist-column gli-email-column">{{ manager.email|safe_email }}</div>
        <div class="gli-mlist-column gli-status-column gli-status-column-{% if  manager.status == 1 %}active{% else %}inactive{% endif %}"><span>{{ manager.get_status_display }}</span></div>
        <div class="gli-mlist-column gli-details-column">
            <a href="{% url 'glimanagers:update' manager.pk %}"><img src="{% static 'glimanagers/img/edit.png' %}" alt="Editar" title="Editar"></a>
            <a href="#" class="delete-manager-button" data-target-pk="{{ manager.pk }}" data-target-name="{{ manager.first_name }} {{ manager.last_name }}" data-target-email='{{ manager.email|safe_email }}' data-target-img="{% if manager.display %}{% get_media_prefix %}{{ manager.display }}{% endif %}"><img src="{% static 'glimanagers/img/trash-2.png' %}" alt="Eliminar" title="Eliminar"></a>
            <a href="{% url 'glimanagers:details' manager.pk %}"><img src="{% static 'glimanagers/img/eye.png' %}" alt="Ver" title="Ver detalles"></a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="gli-paginator">
    <span>Rows per page:</span>
    <select name="nrows" id="nrows">
        <option {% if nrows == 5 %}selected{% endif %} value="5">5</option>
        <option {% if nrows == 10 %}selected{% endif %} value="10">10</option>
        <option {% if nrows == 20 %}selected{% endif %} value="20">20</option>
        <option {% if nrows == 50 %}selected{% endif %} value="50">50</option>
    </select>
    <span>{{ niof }}-{{ nfof }} of {{ page_managers.paginator.count }}</span>
    {% if page_managers.has_previous %}
    <a href="{% url 'glimanagers:list' %}?page={{ page_managers.previous_page_number }}&search={{ search_filter }}&rows={{ nrows }}&area={{ area_filter }}&status={{ status_filter }}"><i class="material-icons">navigate_before</i></a>
    {% else %}
    <i class="material-icons" style="color: rgb(163, 163, 163);cursor: default;">navigate_before</i>
    {% endif %}
    {% if page_managers.has_next %}
    <a href="{% url 'glimanagers:list' %}?page={{ page_managers.next_page_number }}&search={{ search_filter }}&rows={{ nrows }}&area={{ area_filter }}&status={{ status_filter }}"><i class="material-icons">navigate_next</i></a>
    {% else %}
    <i class="material-icons" style="color: rgb(163, 163, 163);cursor: default;">navigate_next</i>
    {% endif %}
</div>

           
{% endblock tabcontent %}
{% block scripts %}
<script src="{% static 'glimanagers/gliscript.js' %}"></script>
{% endblock scripts %}

{% block modal %}
<div class="gli-modal">
    <div class="gli-modal-content">
        <a href="#" class="material-icons gli-modal-close gli-modal-close-cross">highlight_off</a>
        <h1 class="gli-modal-title">Eliminar administrador</h1>
        <div class="gli-hsep" style="width: 100%; margin-bottom: 24px;"></div>
        <p class="gli-normal-text" style="margin-bottom: 16px;">¿Estás seguro de eliminar a este administrador?</p>
        <div class="gli-modal-delete-confirm">
            <div class="gli-modal-delete-confirm-img">
                <img src="{% get_media_prefix %}{{ manager.display }}">
            </div>
            <div class="gli-modal-delete-confirm-data">
                <div class="gli-modal-delete-confirm-name">Nombre</div>
                <div class="gli-modal-delete-confirm-email">Correo @ correo</div>
            </div>
        </div>
        <div class="gli-hsep" style="width: 100%; margin-bottom: 24px;"></div>
        <div class="gli-modal-delete-buttons">
            <button class="gli-button gli-button-white gli-modal-close">Cancelar</button>
            <form action="{% url 'glimanagers:delete' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="-1" id="id_input_pk" name="pk">
                <button id="deletebutton" class="gli-button gli-button-secondary">Sí, eliminar</button>
            </form>
            
        </div>
    </div>
    
</div>
{% endblock modal %}
    