{% extends 'glimanagers/base.html' %}
{% load static %}
{% block tabcontent %}

<header class="gli-header">
    <div class="gli-breadcrumbs valign-wrapper">
        <a href="#" class="gli-breadcrumb">Inicio</a> <i class="gli-breadcrumb-active material-icons">keyboard_arrow_right</i> <span class="gli-breadcrumb-active">Administradores</span>
    </div>
    <h1 class="head">Administradores de la consola</h1>
</header>
<div class="gli-check">
    <span class="material-icons">done</span>
</div>
<h4 class="gli-normal-header">Cambios guardados</h4>
<p class="gli-normal-text">Tu administrador se ha guardado con éxito</p>
<a class="gli-button gli-button-secondary" style="margin-left:0; margin-top: 24px;" href="{% url 'glimanagers:list' %}">Regresar a mis administradores</a>

{% endblock tabcontent %}
